# Learning Loops, Functions and List Comprehensions
## Loops
* With 'while' you have to increase the input (e.g., i or number). With for 'i' or 'number' is increased automatically.
* While needs a condition, for executes for an x amount.

In [5]:
for i in range(3): #here is how many times to execute
    print(i)

0
1
2

In [5]:
number=0
while number < 3: #here is the condition statement
    print(number)
    number = number+1

0
1
2

#### Example: write a Fibonnaci loop using while

In [6]:
first_no = 0
second_no = 1
total = None

while first_no <= 144:
    total = first_no + second_no
    print(total)
    first_no = second_no
    second_no = total

1
2
3
5
8
13
21
34
55
89
144
233
377

In [8]:
#ask to print all numbers for each step
first_no = 0
second_no = 1
total = None

while first_no <= 144:
    total = first_no + second_no
    print(total, first_no, second_no) 
    first_no = second_no
    second_no = total

1 0 1
2 1 1
3 1 2
5 2 3
8 3 5
13 5 8
21 8 13
34 13 21
55 21 34
89 34 55
144 55 89
233 89 144
377 144 233

In [9]:
first_no = 0
second_no = 1
total = None

while first_no <= 144:
    print(first_no, second_no, total) #print before they change
    total = first_no + second_no
    first_no = second_no
    second_no = total

0 1 None
1 1 1
1 2 2
2 3 3
3 5 5
5 8 8
8 13 13
13 21 21
21 34 34
34 55 55
55 89 89
89 144 144
144 233 233

#### Example: write a Fibonnaci loop using for

In [15]:
first_no = 0
second_no = 1
total = 0
for i in range(13):
    total = first_no + second_no
    print(total)
    first_no = second_no
    second_no = total

1
2
3
5
8
13
21
34
55
89
144
233
377

In [16]:
first_no = 0
second_no = 1
total=None

for i in range(13):
    total=first_no + second_no
    print(total, first_no, second_no) #print all of them
    first_no = second_no
    second_no = total

1 0 1
2 1 1
3 1 2
5 2 3
8 3 5
13 5 8
21 8 13
34 13 21
55 21 34
89 34 55
144 55 89
233 89 144
377 144 233

In [10]:
first_no = 0
second_no = 1
total=None

for i in range(13):
    print(first_no, second_no, total) #change where you print
    total=first_no + second_no
    first_no = second_no
    second_no = total

0 1 None
1 1 1
1 2 2
2 3 3
3 5 5
5 8 8
8 13 13
13 21 21
21 34 34
34 55 55
55 89 89
89 144 144
144 233 233

## Nested Loops

In [18]:
for i in range(10):
    for j in range(i):
        print('*', end=' ')
    print(' ')
for i in range(10,0,-1):
    for j in range(i):
           print('*', end=' ')
    print(' ')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [28]:
for i in range (10):
    for j in range (10-i):
        print('*', end = ' ')
    print(' ')
for i in range(11,0,-1):
    for j in range(10-i):
        print('*', end = ' ')
    print(' ')

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*


*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

## Functions

In [29]:
def hello():
    name = str(input("Please enter your name:"))
    if name:
        print("Hello", str(name))
    else:
        print("Hello stranger!")
    return

In [30]:
hello()

Please enter your name:

Hello stranger!

### Class
* __init__ initializes an instance of a class or an object. Simply stated, it acts as a constructor or initializer and is automatically called when you create a new instance of a class.

In [31]:
class Dog:
    """    
    Requires:
    legs - Legs so that the dog can walk.
    color - A color of the fur.
    """

    def __init__(self, legs, color):
        self.legs = legs
        self.color = color
        
    def bark(self):
        bark = "bark" * 3
        return bark

if __name__ == "__main__":
    dog = Dog(4, "brown")
    bark = dog.bark()
    print(bark)

barkbarkbark

#### Exercise: HackerRank Gregorian calendar problem

In [37]:
#My way
def is_leap(year):
    if year % 4 == 0 and year % 100 != 0:
        leap = True
    elif year % 400 == 0:
        leap = True
    else:
        leap = False
    return leap
year = int(input())
print(is_leap(year))

 1800

False

In [28]:
#Even better way
def is_leap(year):
    leap=False
    if year % 4 == 0 and (year % 100 != 0 or year % 400 ==0):
        leap = True
    return leap
year = int(input())
print(is_leap(year))

 1992

True

### Lambda

* is an anonymous/throw-away function aka function without a name
* not saved, written for that instance quickly
* lambda argument_list : expression
* sum = lambda x,y(item or items) : x+y (what you want the function to do)

In [38]:
power1 = lambda x,y: x**y
power1(2,3)

def power(x,y):
    return x**y

power(2,3)
power1(2,3)

8

In [18]:
marksheet = []
for _ in range(0,int(input())):
    marksheet.append([input(), float(input())])

second_highest = sorted(list(set([marks for name, marks in marksheet])), reverse=True)[1]
print(second_highest)
print('\n'.join([a for a,b in sorted(marksheet) if b == second_highest]))

 4
 marina
 108
 adam
 100
 grace
 98
 hazel
 150

108.0
marina

### map()

* takes two arguments (function, sequence aka list)
* for the most part you need to use it with list(map(...))
* can be applied to more than one list
* these lists do not need to be in the same length
* BUT map will compute the function according to the shortest list
* can be applied to more than one function

In [42]:
#Using without lambda, you will need a function and a list
def F(T):
    return((float(9) / 5) * T + 32)
def C(T):
    return(float(5) / 9) * (T - 32)
temperatures = [50, 60, 75, 90, 95]
Celsius=list(map(C,temperatures))
print(Celsius)
Fah = list(map(F, Celsius))
print(Fah)

[10.0, 15.555555555555557, 23.88888888888889, 32.22222222222222, 35.0]
[50.0, 60.0, 75.0, 90.0, 95.0]

In [43]:
#Using with lambda
Celsius = list(map(lambda x: float(5)/9*(x - 32), temperatures))
print(Celsius)

[10.0, 15.555555555555557, 23.88888888888889, 32.22222222222222, 35.0]

In [21]:
#more than one list
a = [1,2,3]
b = [2,4,6]
c=[-3,-6,-9]
print(list(map(lambda x,y,z: x+y+z, a,b,c)))

[0, 0, 0]

In [46]:
#more than one function
a = [1,2,3]
b = [2,4,6]
c=[-3,-6,-9]
def map_functions(functions, x):
    res=[]
    for i in functions:
        res.append(i(x))
    return res
from numpy import median, mean
functions_numpy = median, mean
all_lists =[a,b,c]
print(map_functions(functions_numpy, a)) #one list multiple functions
print(map_functions(functions_numpy, all_lists)) #combines all lists
#print(list(map(functions_numpy,a,b,c))) #error: cannot call list or tuples for function parameter

[2.0, 2.0]
[2.0, 0.0]

### filter()

* takes two arguments (functions and sequences)
* use it with list(filter(lambda...))

In [48]:
fibonnaci = [0,1,1,2,3,5,8,13,21,34,55,89,144]
odd_numbers = list(filter(lambda x: x % 2 != 0, fibonnaci))
even_numbers = list(filter(lambda x: x % 2 ==0, fibonnaci))
print(odd_numbers, even_numbers)

[1, 1, 3, 5, 13, 21, 55, 89] [0, 2, 8, 34, 144]

### reduce()

* in Python 3,  it is part of functools library
* use this to reduce a list to one number
* usually used for sum or multiplication, not very useful
* takes two arguments (functions and sequences)
* not used with list as others
* format: functools.reduce(lamdba...)

In [25]:
import functools
print(functools.reduce(lambda x,y: x + y, [47, 11, 42, 13])) #adds the numbers
print(functools.reduce(lambda x,y: x if(x > y) else y, [47, 11, 42, 102, 13])) #largest number

113
102

### Exercise 1
* Write a Python program, which returns a list with 2-tuples. Each tuple consists of a the order number and the product of the price per items and the quantity. The product should be increased by 10,- € if the value of the order is smaller than 100,00 €. Write a Python program using lambda and map.

In [44]:
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
	       ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 	3, 24.99]]
solution = list(map(lambda x: (x[0],x[2]*x[3]) if (x[2]*x[3])>=100 else (x[0],x[2]*x[3]+10),orders))
print(solution)

[('34587', 163.8), ('98762', 284.0), ('77226', 108.85000000000001), ('88112', 84.97)]

### Exercise 2
* The same bookshop, but this time we work on a different list. The sublists of our lists look like this: 
[ordernumber, (article number, quantity, price per unit), ... (article number, quantity, price per unit) ] 
Write a program which returns a list of two tuples with (order number, total amount of order).

In [27]:
orders = [ [1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

min_order = 100
invoice_totals = list(map(lambda x: [x[0]] + list(map(lambda y: y[1]*y[2], x[1:])), orders))
invoice_totals = list(map(lambda x: [x[0]] + [functools.reduce(lambda a,b: a + b, x[1:])], invoice_totals))
invoice_totals = list(map(lambda x: x if x[1] >= min_order else (x[0], x[1] + 10), invoice_totals))
print(invoice_totals)

[[1, 678.3299999999999], [2, 494.46000000000004], [3, 364.79999999999995], [4, 492.57]]

## List comprehensions

* list_variable = [x for x in iterable]
* [(do this) for (this item) in (this list)]

In [29]:
#list comprehension version
S = [2**x for x in range(0,20,2)] 
print(S)

[1, 4, 16, 64, 256, 1024, 4096, 16384, 65536, 262144]

In [30]:
#loop version
S=[]
for x in range (0,20,2):
    new=2**x
    S.append(new)
print(S)

[1, 4, 16, 64, 256, 1024, 4096, 16384, 65536, 262144]

In [31]:
#map version
S = list(map(lambda x: 2**x, range(0,20,2)))
print(S)

[1, 4, 16, 64, 256, 1024, 4096, 16384, 65536, 262144]

In [45]:
#to replace filter() function
odd_numbers_in_S = [x%2 != 0 for x in S]
even_numbers_in_S = [x%2 == 0 for x in S]
odd_numbers_in_S, even_numbers_in_S

([True, False, False, False, False, False, False, False, False, False],
 [False, True, True, True, True, True, True, True, True, True])

In [58]:
#to replace reduce() function
total = sum([x for x in S])
print(total)

349525

### Conditionals with list comprehensions
* always start with what you would like to do 
* without if-else: [(do this) for (this item) in (this list)]
* pay attention to if-else statements, the structure above changes
* [(do this) if (this) else (do this) for (this item) in (this list)]

In [62]:
#one conditional
#only divide evens by 2
even_division = [x/2 for x in S if x % 2 == 0]
print(even_division)

[2.0, 8.0, 32.0, 128.0, 512.0, 2048.0, 8192.0, 32768.0, 131072.0]

In [61]:
#loop version
even_division = []
for x in S:
    if x % 2 ==0:
        even_division.append(x/2)
print(even_division)

[2.0, 8.0, 32.0, 128.0, 512.0, 2048.0, 8192.0, 32768.0, 131072.0]

In [67]:
#multiple conditions
#divisible by 4 and 6
divided = [x for x in range(100) if x % 4 == 0 if x % 6 == 0]
print(divided)

[0, 12, 24, 36, 48, 60, 72, 84, 96]

In [64]:
#loop version of above
divided = []

for x in range(100):
    if x % 4 == 0 and x % 6 == 0:
            divided.append(x)
print(divided)

[0, 12, 24, 36, 48, 60, 72, 84, 96]

In [68]:
#if-else conditions
#if odd power(2) if even x
V = [x**2 if x % 2 != 0 else x for x in range(10)]
print(V)

[0, 1, 2, 9, 4, 25, 6, 49, 8, 81]

### Nested list comprehensions
* to generate/transpose/flat list of lists
* there will be two 'for's and 'in's
* [(do this) for (larger item) in (bigger List1) for (smaller item) in (smaller List2)]

In [143]:
#to flatten
list_of_list = [[1,2,3],[4,5,6],[7,8,9]]
[m for n in list_of_list for m in n]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [144]:
#loop version
new_list=[]
for q in list_of_list:
    for i in q:
        new_list.append(i)
    
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [156]:
#to transpose
matrix = [[1,2,3],[4,5,6],[7,8,9]]
[[x[i] for x in matrix] for i in range(len(x))]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [160]:
#loop version
transposed=[]
for i in range(len(x)):
    transposed_row =[] #so that it would create an empty list for each row
    for x in matrix:
        transposed_row.append(x[i])
    transposed.append(transposed_row)
print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [121]:
#to create a 5x3 matrix
[[1 for y in range(3)] for x in range(5)]

[[1, 1, 1], [1, 1, 1], [1, 1, 1], [1, 1, 1], [1, 1, 1]]

In [124]:
#loop version of above
matrix=[]
for x in range(5):
    lis=[]
    for y in range(3):
        lis.append(1)
    matrix.append(lis)
print(matrix)

[[1, 1, 1], [1, 1, 1], [1, 1, 1], [1, 1, 1], [1, 1, 1]]

* Multiple ways to write the same thing

In [102]:
inputs = ["1, foo, bar", "2,tom,  jerry"]

outputs1 = [[int(x), y.strip(), z.strip()] for x,y,z in (s.split(',') for s in inputs)]
print("1:", outputs1)       

outputs2 = [(lambda x, y, z: [int(x), y.strip(), z.strip()])(*s.split(",")) for s in inputs]
print("2:", outputs2)    

outputs3 = [z for z in map(lambda x: [int(x[0]), x[1].strip(), x[2].strip()],[s.split(",") for s in inputs])]
print("3:", outputs3)       

outputs4 = [[int(x), y.strip(), z.strip()] for s in inputs for (x, y, z) in [s.split(",")]]
print("4:", outputs4)

1: [[1, 'foo', 'bar'], [2, 'tom', 'jerry']]
2: [[1, 'foo', 'bar'], [2, 'tom', 'jerry']]
3: [[1, 'foo', 'bar'], [2, 'tom', 'jerry']]
4: [[1, 'foo', 'bar'], [2, 'tom', 'jerry']]